<h1>Crud#index</h1>
<p>Find me in app/views/crud/index.html.erb</p>
<form action="/crud/create" method="get">
  제목: <input type="text" name="title"><br>
  내용: <input type="text" name="content"><br>
  <input type="submit" value="제출">
</form>

<% @allpost.each do |each_post| %><hr>
        제목: <%= each_post.title %><br>
        내용: <%= each_post.content %><br>
<% end %><hr>